<h1 class="text-center">Home</h1>
<h4 class="text-center">Sub Title</h4>

<hr>

<div class="container cf">
    <div>
      <h3>Go home</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu erat, accumsan
        id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor
        at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu
        erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor
        volutpat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Praesent sapien
        massa, convallis a pellentesque nec, egestas non nisi. Curabitur non nulla sit amet nisl tempus
        convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta.
      </p>
    <div>

</div>
