<div class="container cf">

  <div class="content-wrapper">
    <h1>
      Awesome title<br>
      Example Long
    </h1>
    <div class="font-slogan">
      Some slogan text goes here <br>
      It doesn't matter how long it is
    </div>
  </div>

  <!-- Section Title -->
  <div class="mrgn-btm-l mrgn-top-l">
    <h6 class="section-header">
      XY
      <!-- Section Heading Seperator -->
      <span class="shs"></span>
      Welcome
    </h6>
  </div>

  <!-- Slogan -->
  <div class="slogan-wrapper">
    <h3 class="mrgn-btm-l" id="one">
      Quick Title
    </h3>
    <div class="font-slogan">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus
      eget turpis id efficitur. Nullam eget turpis quis augue tristique rutrum.
      Vivamus sed metus congue turpis blandit sagittis. Sed ullamcorper
    </div>
  </div>

</div>
