<div class="container cf">

    <div class="content-wrapper">
      <h1>Style Guide</h1>
      <div class="font-slogan">
        Elements and Container Styles
      </div>
    </div>

    <div class="content-wrapper">
      <h2>H2 Heading Two</h2>
      <h3>H3 Heading Three</h3>
      <h4>H4 Heading Four</h4>
      <h5>H5 Heading Five</h5>
    </div>

    <!-- Section Title -->
    <div class="mrgn-btm-l">
      <h6 class="section-header">
        H6
        <!-- Section Heading Seperator -->
        <span class="shs"></span>
        Heading Six
      </h6>
    </div>

    <!-- Slogan -->
    <div class="slogan-wrapper">
      <h3 class="mrgn-btm-l" id="one">Slogan</h3>
      <div class="font-slogan">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu erat, accumsan
        id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor
        at sem.
      </div>
    </div>

    <!-- Scroll Left Content  -->
    <div class="scroll-left-content content-wrapper">
      <h6 class="scroll-section-header">
        Some other <br>
        text.
      </h6>
    </div>

    <!-- Paragraph -->
    <div class="content-wrapper">
      <h4 id="one">Paragraph</h4>
      <p>
        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque
        nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Mauris blandit
        aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.
        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula
        sed magna dictum porta. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
        Donec rutrum congue leo eget malesuada.
      </p>
    </div>

    <!-- Unordered List -->
    <div class="content-wrapper">
        <h5>Unordered List</h5>
        <ul>
            <li>List Item One</li>
            <li>List Item Two</li>
            <li>List Item Three</li>
            <li>List Item Four</li>
            <li>List Item Five</li>
        </ul>
    </div>

    <!-- Ordered List -->
    <div class="content-wrapper">
        <h5>Ordered List</h5>
        <ol>
            <li>List Item One</li>
            <li>List Item Two</li>
            <li>List Item Three</li>
            <li>List Item Four</li>
            <li>List Item Five</li>
        </ol>
    </div>

    <!-- Form -->
    <div class="content-wrapper">
      <h3>Form Elements</h3>
      <form id="formId" name="formName">

        <!-- File Upload -->
        <div class="form-group">
            <label for="searchInput">Search Field</label>
            <input type="search"
                   name="searchInput"
                   id="searchInput"/>
        </div>

        <!-- File Upload -->
        <div class="form-group">
            <label for="fileInput">File Upload</label>
            <input type="file"
                   name="fileInput"
                   id="fileInput"/>
        </div>

        <!-- Text Input -->
        <div class="form-group">
          <label for="textInput">Text Input</label>
          <input type="text"
                 name="textInput"
                 id="textInput"
                 placeholder="Type Text"
                 required/>
        </div>

        <!-- E-Mail Input -->
        <div class="form-group">
            <label for="emailInput">E-Mail</label>
            <input type="email"
                   name="emailInput"
                   id="emailInput"
                   placeholder="name@place.ext"
                   required/>
        </div>

        <!-- Password Input -->
        <div class="form-group">
            <label for="passwordInput">Password Input</label>
            <input type="password"
                   name="passwordInput"
                   id="passwordInput"
                   placeholder="Type Password"
                   required/>
        </div>

        <!-- Number Input -->
        <div class="form-group">
            <label for="numberInput">Number Input</label>
            <input type="number"
                   name="numberInput"
                   id="numberInput"
                   placeholcer="Age"/>
        </div>

        <!-- Radio Input -->
        <div class="form-group">
            <label for="radioInput1">Radio One</label>
            <input type="radio"
                   name="radioInput"
                   id="radioInput1"/>
                   <br>
            <label for="radioInput2">Radio Two</label>
            <input type="radio"
                   name="radioInput"
                   id="radioInput2"/>
                   <br>
        </div>

        <!-- Telephone Input -->
        <div class="form-group">
            <label for="telephoneInput">Telephone Input</label>
            <input type="tel"
                   name="telephoneInput"
                   id="telephoneInput"
                   placeholder="000-000-000"
                   required/>
        </div>

        <!-- URL Input -->
        <div class="form-group">
            <label for="urlInput">URL Input</label>
            <input type="url"
                   name="urlInput"
                   id="urlInput"
                   placeholder="http://www.your-domain.ext"
                   required/>
        </div>

        <!-- Checkbox -->
        <div class="form-group">
            <input type="checkbox"
                   name="checkbox1"
                   id="checkbox1"
                   value="Checkbox One"
                   checked/>
            <label for="checkbox1">Checkbox One</label>
            <br>
            <input type="checkbox"
                   name="checkbox2"
                   id="checkbox2"
                   value="Checkbox Two"/>
            <label for="checkbox2">Checkbox Two</label>
            <br>
            <input type="checkbox"
                   name="checkbox3"
                   id="checkbox3"
                   value="Checkbox Three"/>
            <label for="checkbox3">Checkbox Three</label>
            <br>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <textarea rows="4" cols="50" form="formId" placeholder="Leave A Reply"></textarea>
        </div>

        <!-- Select Box -->
        <div class="form-group">
          <label for="selectInput">Selection</label>
          <select name="selectInput"
                  id="selectInput">
            <option value="Option One">
              Option One
            </option>
            <option value="Option Two">
              Option Two
            </option>
            <option value="Option Three">
              Option Three
            </option>
            <option value="Option Four">
              Option Four
            </option>
          </select>
        </div>

        <!-- Buttons -->
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>

      </form>
    </div>

</div>
