<h1 class="text-center">H1 Style Guide</h1>
<h4 class="text-center">H6 Elements Style Layout</h4>

<hr>

<div class="container cf">

    <h1>H1 Heading One</h1>
    <h2>H2 Heading Two</h2>
    <h3>H3 Heading Three</h3>
    <h4>H4 Heading Four</h4>
    <h5>H5 Heading Five</h5>
    <h6>H6 Heading Six</h6>

    <div>
      <h3>Paragraph</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu erat, accumsan
        id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor
        at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu
        erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor
        volutpat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Praesent sapien
        massa, convallis a pellentesque nec, egestas non nisi. Curabitur non nulla sit amet nisl tempus
        convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta.
      </p>
    <div>

    <div>
        <h3>Unordered List</h3>
        <ul>
            <li>List Item One</li>
            <li>List Item Two</li>
            <li>List Item Three</li>
            <li>List Item Four</li>
            <li>List Item Five</li>
        </ul>
    </div>

    <div>
        <h3>Ordered List</h3>
        <ol>
            <li>List Item One</li>
            <li>List Item Two</li>
            <li>List Item Three</li>
            <li>List Item Four</li>
            <li>List Item Five</li>
        </ol>
    </div>

</div>

<div class="text-center">
    <small>Copyright - XY</small>
    |
    <small>Footer Test | <a target="_blank" href="/">Link</a></small>
    |
    <small>2017</small>
</div>
