<div class="container cf">

  <!-- Section Title -->
  <div class="mrgn-btm-l mrgn-top-l">
    <h6 class="section-header">
      H2
      <!-- Section Heading Seperator -->
      <span class="shs"></span>
      Work
    </h6>
  </div>

  <!-- Slogan -->
  <div class="slogan-wrapper">
    <h3 class="mrgn-btm-l">
      Project Showcase
    </h3>
    <div class="font-slogan">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus
      eget turpis id efficitur. Nullam eget turpis quis augue tristique rutrum.
      Vivamus sed metus congue turpis blandit sagittis. Sed ullamcorper
    </div>
  </div>

</div>
