/******************************************************************

Grid

******************************************************************/

.scroll-spy {
  right: 0;
  top: 36%;
  z-index: 1;
  font-size: 11px;
  position: fixed;
  list-style: none;
  font-weight: bold;
  text-align: right;
  line-height: 21px;
  text-transform: UPPERCASE;
  padding: 10px 15px 10px 10px;
  background-color: rgba(255, 255, 255, 0.4);}

  .cf {
    max-width: 768px;
    padding: 30px;
  }

  .content-wrapper {
    margin: 50px 0;
  }

  .form-group {
      margin: 20px 0;
  }
