/******************************************************************

Typography

******************************************************************/

// Web fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat: 300,400,600,700'); // Montserrat
@import url('https://fonts.googleapis.com/css?family=Adamina'); // Adamina

/* ===============================
     fonts
   =============================== */
$font: Helvetica, Times New Roman, Times, serif;
$font-italic:  Helvetica, Times New Roman, Times, serif;
$font-heading: 'Montserrat', sans-serif;
$font-semibold: 'Montserrat', sans-serif;
$font-extrabold: 'Montserrat', sans-serif;
$font-extralightitalic: Helvetica, Arial, sans-serif;
$font-slogan: Helvetica, Arial, sans-serif;
$font-serif: 'Adamina', serif;

/* ===============================
     sizes
   =============================== */

$h1: 49px;
$h2: 39px;
$h3: 31px;
$h4: 25px;
$h5: 16px;
$h6: 11px;
$large: 31px;
$medium: 20px;
$small: 14px;

/* ===============================
     weights
   =============================== */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  line-height: 27px;
  font-family: $font-slogan;
  font-weight: normal;
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
      -webkit-margin-after: 0;
     -webkit-margin-before: 0;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}
