/******************************************************************

Variables

******************************************************************/

$primary-color:     #22BCB0;


$white:             #fff;
$red:               red;

$gray:              #eaedf2;
$medium-gray:        #989a9a;
$light-gray:        #f8f9fa;
$black:             #231f20;

$text-color:        #5D5D5D;

$link-color:        $black;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$alert-red:					red;
$alert-green:				#645564;
$alert-blue:				blue;

$uppercase:         uppercase;
$lowercase:         lowercase;

$list-height:       36px;
$block-center:      auto auto;

// Flex Properties
$flex:              flex;
